@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black url("/bg.png") no-repeat center center;
  background-size: cover;
}

@font-face {
  font-family: "Object Sans";
  src: url("/ObjectSans-Heavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Object Sans";
  src: url("/ObjectSans-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Comedik";
  src: url("/Comedik.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SCHABO";
  src: url("/SCHABO-Condensed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  white-space: nowrap;
  animation: scroll 10s linear infinite;
}

.tilted-div {
  transform: rotate(-4.5deg);
  transform-origin: center;
}
.tilted-text {
  transform: rotate(-2deg);
  transform-origin: center;
}
.tilted-textG {
  transform: rotate(-8deg);
  transform-origin: center;
}
@layer utilities {
  .scrollbar-hide-x {
    overflow-x: hidden; /* Hides horizontal scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  .scrollbar-hide-x::-webkit-scrollbar {
    height: 0; /* Chrome, Safari, Opera */
    display: none;
  }
}
