@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
}
@font-face {
  font-family: "Object Sans";
  src: url("/ObjectSans-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SCHABO";
  src: url("/SCHABO-Condensed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.carousel-container {
  width: 100%;
  max-width: 600px;
  overflow: hidden;
}

.carousel-content {
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-controls button {
  transition: background-color 0.3s;
}
