@import url("https://fonts.googleapis.com/css2?family=Comedik&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
}

@font-face {
  font-family: "SCHABO";
  src: url("/SCHABO-Condensed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.carousel-container {
  width: 100%;
  max-width: 600px;
  overflow: hidden;
}

.carousel-content {
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-controls button {
  transition: background-color 0.3s;
}
